/* principal */
/* .principal.identificacion .tab{
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.principal.identificacion .tab.active {
    opacity: 1;
    height: auto;
} */
/* 
body{
    overflow-x: hidden;
}

#sNavHeader{
    display: flex;
    justify-content: center;
    position: fixed;
    width:100vw;
}
#sNavHeader ul{
    list-style-type: none;
    display:inline-flex;
    margin:0px;
    padding:0px;
}

#sNavHeader .visible{
    display:block;
}

#sNavHeader .oculto{
    display:none;
}
#sNavHeader{
    display: flex;
    justify-content: center;
    position: sticky;
}
 */
/* Bootstrap */
.carousel-caption{
    bottom: -13px !important;
}
.carousel-indicators{
    bottom:-10px !important;
}

/**  Custom  */
.shadow-jc{
    box-shadow: 0px 0px 1rem -.3rem black;
}

.bg-dark-50{
    background: #000a !important;
}
.bg-light-50{
    background: #fff5 !important;
}
header{
    position: sticky;
    top:-1px;
    z-index:1000;
}
#ViewApp{
    min-height:70vh;
}
footer{
    height:100px;
    padding-top:1rem;
}